<div class="page">
  <div class="header">
    <!-- <button (click)="loadDocument()">Load Document</button>
    <button (click)="addAnnotation()">Add Annotation</button>
    <button (click)="rotatePages()">Rotate Pages</button>
    <button (click)="getFirstBookmarkClick()">Get Bookmarks</button>
    <button (click)="initLinkManager()">Link Manager</button>
    <button (click)="drawRect()">Draw Rectangle</button>
    <button (click)="inserBookmark()">Insert BM</button> -->
  </div>
  <div class="viewer-container">
    <app-webviewer></app-webviewer>
  </div>
</div>